@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #000;
}

body {
    padding-top: 56px;
    font-family: 'Roboto', sans-serif;
}

.small-caps {
    font-variant: small-caps;
    font-family: 'Lato', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Nav */


/* Borders */
.grey-border {
    border: 1px solid #555555;
}

.light-top-border {
    border-top: 1px solid #d3d3d3;
}


/* Side Links */
.links-section {
    position: fixed;
    top: 50%;
    font-size: 1rem;
    background-color: #fff;
}

/* Top Section */
.intro-section {
    background: url(../images/digitization_1920.jpg);
    background-position: center center;
    color: #fff;
    height: 25%;
    background-color: white;
    background-blend-mode:luminosity;
}

/* Projects */

.projects-section {
    background-color: #f2f2f2;
}

.project-card {
    background-color: #fff;
}

/* Resume */
.resume-section {
    background-color: #0d6efd;
    color: #fff;
}

/* Contact */
.contact-section {
    background-color: #e4a163;
}

.btn-container {
    width: 50%;
}

form label {
    position: relative;
    left: 1rem;
}

.submit-btn {
    width: 100%;
}

/* Styled Slanted Divs */
.slanted-grey-container,
.slanted-blue-container {
    position: relative;
}

.slanted-grey {
    height: 100px;
    background-color: #f2f2f2;
}

.slanted-grey:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #0d6efd;
    transform: skew(87deg);
    transform-origin:bottom;
}

.slanted-blue {
    height: 100px;
    background-color: #0d6efd;
}

.slanted-blue:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #e4a163;
    transform: skew(87deg);
    transform-origin:bottom;
}


/* Media Queries */
@media screen and (min-width: 768px) {
    .links-section {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 992px) { 
    .active {
        border-bottom: 3px solid #000;
    }
}