* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #000;
}

body {

}

/* Borders */
.grey-border {
    border: 1px solid #555555;
}


/* Side Links */
.links-section {
    position: fixed;
    top: 50%;
}

.github {
    background-color: orange;
}

.linkedin {
    background-color: orangered;
}

.contact {
    background-color: palegreen;
}

/* Top Section */
.intro-section {
    background: url(../images/paper-bg.jpg);
}

.demo-border {
    border: 2px solid red;
}