@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #000;
}

body {
    padding-top: 56px;
    font-family: 'Roboto', sans-serif;
}

.small-caps {
    font-variant: small-caps;
    font-family: 'Lato', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Nav */


/* Borders */
.grey-border {
    border: 1px solid #555555;
}

.light-top-border {
    border-top: 1px solid #d3d3d3;
}


/* Side Links */
.links-section {
    position: fixed;
    top: 50%;
    font-size: 1.2rem;
    background-color: #fff;
}

/* Top Section */
.intro-section {
    background: url(../images/digitization_1920.jpg);
    background-position: 70% center;
    color: #fff;
    height: 25%;
    background-color: white;
    background-blend-mode:luminosity;
}

/* Projects */

.projects-section {
    background-color: #f2f2f2;
}

.project-card {
    background-color: #fff;
}

.project-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project-links a:last-child {
    margin-top: 1rem;
}

.project-links a {
    flex-grow: 1;
    max-width: 15rem;
}

/* Resume */
.resume-section {
    background-color: #0d6efd;
    color: #fff;
}

/* Contact */
.contact-section {
    background-color: #e4a163;
}

.btn-container {
    width: 50%;
}

form label {
    position: relative;
    left: 1rem;
}

.submit-btn {
    width: 100%;
}

/* Styled Slanted Divs */
.slanted-grey-container,
.slanted-blue-container {
    position: relative;
}

.slanted-grey {
    height: 100px;
    background-color: #f2f2f2;
}

.slanted-grey:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #0d6efd;
    transform: skew(87deg);
    transform-origin:bottom;
}

.slanted-blue {
    height: 100px;
    background-color: #0d6efd;
}

.slanted-blue:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #e4a163;
    transform: skew(87deg);
    transform-origin:bottom;
}

/* Mail Modal */
.modal {
    top: 25%;
    padding: 50px;
}

/* Spinner */
/* Credit: loading.io/css */
.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #000;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #000 transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

/* Media Queries */
@media screen and (min-width: 363px) {
    .project-links a:last-child {
        margin-top: 0;
    }
}

@media screen and (min-width: 768px) {
    .links-section {
        font-size: 1.6rem;
    }
}

@media screen and (min-width: 992px) { 
    .active {
        border-bottom: 3px solid #000;
    }
}