* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #000;
}

body {
    padding-top: 56px;
}

/* Borders */
.grey-border {
    border: 1px solid #555555;
}


/* Side Links */
.links-section {
    position: fixed;
    top: 50%;
}

.github {
    background-color: orange;
}

.linkedin {
    background-color: orangered;
}

.contact {
    background-color: palegreen;
}

/* Top Section */
.intro-section {
    background: url(../images/paper-bg.jpg);
}

.demo-border {
    border: 2px solid red;
}

/* Projects */

.projects-section {
    background-color: #f2f2f2;
}

.project-card {
    background-color: #fff;
}

/* Resume */
.resume-section {
    background-color: #9FCAF9;
}

/* Contact */
.contact-section {
    background-color: #e28e40;
}

/* Styled Slanted Divs */
.slanted-grey-container,
.slanted-blue-container {
    position: relative;
}

.slanted-grey {
    height: 100px;
    background-color: #f2f2f2;
}

.slanted-grey:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #9FCAF9;
    transform: skew(87deg);
    transform-origin:bottom;
}

.slanted-blue {
    height: 100px;
    background-color: #9FCAF9;
}

.slanted-blue:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #e28e40;
    transform: skew(87deg);
    transform-origin:bottom;
}